/* CSS reset. Source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
    font-size: 10px;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
   }

/*UTILITY*/ 
.floatleft {
float: left;
}
.floatright {
float: right;
}
body {
margin: 0;
}

/*FONT NAMES FOR REFERENCE
font-family: 'Bubblegum Sans', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Montserrat', sans-serif; */

/*Home Main Navigation Bar Start*/ 
header {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 110px;
    background: white;
    padding: 25px 0;
    margin-bottom: 0;
}
    #logo {
    order: 1;
    flex: 1 1 auto;
    width: 200px;
    margin-left: 30px;
    }
    nav {
    order: 2;
    flex: 1 1 auto; 
    margin-left: 300px;
    margin-right: 500px;
    }
    nav ul {
    padding: 0;
    justify-content: space-between;
    }
    nav li {
        display: inline;
        margin-right: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    nav li a {
        color: red;
        text-decoration: none;
    }
    nav li a:hover {
        color: rgb(150,150,150);
        text-decoration: none;
    }
    .button {
    order: 3;
    width: 300px;
    height: 60px;
    font-family: 'DynaPuff', cursive;
    font-size: 2vw;
    background: linear-gradient(#c8c8c8, #969696);
    text-align: center;
    padding: 15px 15px 25px;
    margin-right: 20px;
    border: 1px solid rgb(150,150,150);
    border-radius: 5px;
    cursor: pointer;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from (#c8c8c8), to (#969696));
    }
    .button a {
        color: rgb(255,255,255);
        text-decoration: none;
        font-weight: bold;
    }
    .button:hover {
        background: linear-gradient(#969696, #c8c8c8);
    }
/*Main Navigation Bar End*/ 


/*Wireframe1 / Homepage CSS Start*/ 
.homepage {
margin: 0;
}

.homecontainer {  
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"welcomecontent welcomecontent"
"aboutcontent aboutcontent"
"location location";
}

.welcomecontent { 
grid-area: welcomecontent;
width: 100%;
background-color: #FAF9F6;
border: 1px solid black;
padding-top: 20px;
}
.welcomecontent > img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.aboutcontent { 
grid-area: aboutcontent;
background-color: white;
font-family: 'Bubblegum Sans', cursive;
font-size: 2vw;
border: 1px solid black;
padding-top: 100px; 
padding-bottom: 100px;
}
.aboutcontent h1, p {
text-align: center;
padding-bottom: 2%;
}
.aboutcontent > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 2%;
}

.location { 
grid-area: location;
background-color: #f6eee6;
border: 1px solid black;
padding-top: 2%; 
padding-bottom: 2%;
}
.location h1 {
font-family: 'DynaPuff', cursive;
font-size: 2vw;
text-align: center;
}
.location > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 2%;
}

/*Homepage CSS End*/ 


/*Wireframe2 / Drink Menu page CSS Start*/ 
.drinkmenu {
background-color: #b8b3e9;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

#carousel {
padding-top: 40px;
padding-bottom: 20px;
}

#menuname {
font-family: 'Bubblegum Sans', cursive;
font-size: 100px; 
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
text-align: center;
}
.dkcontainer {
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
padding-bottom: 2%;
}
.pika {
border: 1px solid #b8b3e9;
height: 300px;
padding-top: 30px;
padding-left: 10px;
display: grid;
grid-template-columns: 50% 50%;
grid-auto-flow: columns;
grid-template-areas: 
"pikaimg pikadrink"
}
.pikaimg {
grid-area: pikaimg;
margin-left: 80px; 
}
.pikadrink {
    grid-area: pikadrink; 
}
.pikadrink h1 {
    font-weight: bold;
}

.eevee {
border: 1px solid #b8b3e9;
height: 300px;
padding-top: 30px;
padding-left: 10px;
display: grid;
grid-template-columns: 50% 50%;
grid-auto-flow: columns;
grid-template-areas: 
"eeveeimg eeveedrink"
}
.eeveeimg {
    grid-area: eeveeimg;
    margin-left: 80px;
}
.eeveedrink {
    grid-area: eeveedrink;  
}
.eeveedrink h1 {
    font-weight: bold;
}

.mew {
border: 1px solid #b8b3e9;
height: 300px;
padding-top: 30px;
padding-left: 10px;
display: grid;
grid-template-columns: 50% 50%;
grid-auto-flow: columns;
grid-template-areas: 
"mewimg mewdrink"
}
.mewimg {
    grid-area: mewimg;
    margin-left: 80px;
}
.mewdrink {
    grid-area: mewdrink; 
}
.mewdrink h1 {
    font-weight: bold;
}

.bulbasaur {
border: 1px solid #b8b3e9;
height: 300px;
padding-top: 30px;
padding-left: 10px;
display: grid;
grid-template-columns: 50% 50%;
grid-auto-flow: columns;
grid-template-areas: 
"bulbimg bulbdrink"
}
.bulbimg {
    grid-area: bulbimg;
    margin-left: 80px;
}
.bulbdrink {
    grid-area: bulbdrink; 
}
.bulbdrink h1 {
    font-weight: bold;
}

.carousel-inner {
text-align: center;
}
.carousel .item > img {
display: inline-block;
}
/*Drink Menu page CSS End*/ 


/*Wireframe3 / Contact page CSS Start*/ 
.ctpage {
background-color: lightpink;
}

.ctimage {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
padding-top: 20px;
padding-bottom: 10px;
}

#contacttitle {
font-family: 'DynaPuff', cursive;
font-size: 50px;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.ctcontainer {
border: 1px double white;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
width: 40%;
padding: 3%;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: bold;
}
#fname, #lname, #emailinput, #comments {
    font-size: 20px;
}
.submitbtn {
    font-size: 30px;
}
 /*Contact page CSS End*/ 
