.floatleft {
    float: left;
}

.floatright {
    float: right;
}

#menu {
    height: 100%;
    width: 200px;
    background: yellow;
}
    nav {
        float: left;
    }
    nav li {
        display: block;
        font-weight: bold;
    }
    nav li a {
        color: rgb(0,0,0);
        text-decoration: none;
    }
    nav li a:hover {
        color: rgb(0,0,0);
        text-decoration: none;
    }

#parent {
    display: flex;
    flex-flow: column;
}
    .child1 {
        background: purple;
        flex: 1 1 400px;
    }
    .child2 {
        background: hotpink;
        flex: 1 1 400px;
    }
    .child3 {
        background: cyan;
        flex: 1 1 400px;
    }

footer {
    height: 100px;
    width: 100%;
    background: rgb(150,150,150);
}