/*UTILITY*/ 
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/*Wireframe1 / Homepage CSS Start*/ 
.homepage {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background: rgb(100,100,100);
    padding: 15px 0;
    margin-bottom: 0;
}
    #logo {
        width: 200px;
        height: 60px;
        background: rgb(200,200,200);
        float: left;
    }
    nav {
        float: left;
        margin-left: 600px;
    }
    nav ul {
        display: flex;
        padding: 0;
        justify-content: space-between;
    }
    nav li {
        display: inline;
        margin-right: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    nav li a {
        color: rgb(255,255,255);
        text-decoration: none;
    }
    nav li a:hover {
        color: rgb(150,150,150);
        text-decoration: none;
    }
    .button {
        width: 150px;
        height: 30px;
        background: linear-gradient(#c8c8c8, #969696);
        text-align: center;
        padding: 15px 5px 5px;
        margin: 5px 5px 0 0;
        border: 1px solid rgb(150,150,150);
        border-radius: 5px;
        cursor: pointer;

        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from (#c8c8c8), to (#969696));
    }
    .button a {
        color: rgb(255,255,255);
        text-decoration: none;
        font-weight: bold;
    }
    .button:hover {
        background: linear-gradient(#969696, #c8c8c8);
    }

.homecontainer {  
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 2fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"welcomecontent welcomecontent"
"aboutcontent aboutcontent"
"location location";
}

.welcomecontent { 
grid-area: welcomecontent;
width: 100%;
background-color: #f6deac;
border: 1px solid black;
padding-top: 10%;
}
.welcomecontent h1 {
    text-align: center;
}
  
.aboutcontent { 
grid-area: aboutcontent;
background-color: #52526a;
border: 1px solid black;
padding-top: 25%; 
padding-bottom: 25%;
}
.aboutcontent h1 {
    text-align: center;
}
  
.location { 
grid-area: location;
background-color: #f6eee6;
border: 1px solid black;
padding-top: 25%; 
padding-bottom: 25%;
}
.location h1 {
    text-align: center;
}
/*Homepage CSS End*/ 


/*Drink Menu page CSS Start*/ 
.drinkmenu {
background-color: #b8b3e9;
}

.dkcontainer {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
padding-top: 2%;
padding-bottom: 2%;
}
.pika {
border: 1px solid black;
}
.eevee {
border: 1px solid black;
}
.mew {
border: 1px solid black;
}
.bulbasaur {
border: 1px solid black;
}
    /*Drink Menu page CSS End*/ 




    /*Contact page CSS Start*/ 
.ctpage {
background-color: lightpink;
}

.ctimage {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
padding-top: 2%;
padding-bottom: 2%;
}

.ctcontainer {
border: 1px solid black;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
padding: 3%;
}
     /*Contact page CSS End*/ 