/*UTILITY*/ 
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/*Homepage CSS Start*/ 
.homepage {
    background-color: yellow;
}

.homecontainer {  
display: grid;
grid-template-columns: 2fr 1fr 1fr;
grid-template-rows: 2fr 2fr 2fr 1fr;
gap: 0px 0px;
grid-auto-flow: column;
grid-template-areas:
"menunav welcomecontent welcomecontent"
"menunav aboutcontent aboutcontent"
"menunav bestsellers bestsellers";
}

.menunav { 
grid-area: menunav;
background-color: #73c5f6;
border: 1px solid black;
height: 100%;
width: 55%;
margin-top: 0;
padding-top: 100px;
padding-right: 80px;
padding-bottom: 100%;
padding-left: 50px;
}

.welcomecontent { 
grid-area: welcomecontent;
background-color: #f6deac;
border: 1px solid black;
margin-left: -300px;
padding-top: 25%;
padding-right: 25%;
padding-bottom: 25%;
padding-left: 25%;
}
  
.aboutcontent { 
grid-area: aboutcontent;
background-color: #52526a;
border: 1px solid black;
margin-left: -300px;
padding-top: 25%;
padding-right: 25%;
padding-bottom: 25%;
padding-left: 25%;
}
  
.bestsellers { 
grid-area: bestsellers;
background-color: #f6eee6;
border: 1px solid black;
margin-left: -300px;
padding-top: 25%;
padding-right: 25%;
padding-bottom: 25%;
padding-left: 25%;
}
/*Homepage CSS End*/ 

/*Main Navigation Pane across all pages*/ 
/*#menu {
    height: 100%;
    width: 200px;
    background: yellow;
    border: 1px solid black;
    margin: 10px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 100%;
    padding-left: 50px;
}
    nav {
        float: left;
    }
    nav li {
        display: block;
        font-weight: bold;
    }
    nav li a {
        color: rgb(0,0,0);
        text-decoration: none;
    }
    nav li a:hover {
        color: rgb(0,0,0);
        text-decoration: none;
    }*/

    /*Drink Menu page CSS Start*/ 

    /*Drink Menu page CSS End*/ 




    /*Contact page CSS Start*/ 
.ctpage {
background-color: lightpink;
}

.ctimage {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
padding-top: 2%;
padding-bottom: 2%;
}

.ctcontainer {
border: 1px solid black;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
padding: 3%;
}
     /*Contact page CSS End*/ 